<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row">
            {{!-- nav area --}}
            <div class="col-lg-3 bg-dark nav">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <p class="logo">DARE</p>
                        </div>
                    </div>

                    <div class="row posting">
                        <div class="col-12">
                            <h3>Create Dare</h3>
                            <form>
                                <input class="my-2" id="name" type="text" placeholder="name">
                                <input class="my-2" id="description" type="text" placeholder="description">
                                <input class="my-2" id="boardname" type="text" placeholder="category">
                                <input class="my-2" id="value" type="text" placeholder="value">
                                <button id="newDare" type="submit" class="btn btn-primary d-block my-2">Create Dare</button>
                            </form>
                            <a href="/dare/api/claimed" id="find" class="btn btn-primary d-block my-2">Approve Dares</a>
                        </div>
                    </div>

                    <hr>

                    <div class="row board-links">
                        <div class="col-12">
                            <h3>Dare Boards</h3>
                            <div class="board-wrapper">
                                {{#each dares}}
                                <div>
                                    <a class="btn btn-outline-light my-2 slideInLeft animated" href="/dare/api/board/{{boardname}}">{{boardname}}</a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-lg-9 bg-light dare-div">
                <div class="row dares">
                    {{#each dares}}
                    <div class="col-3 my-2">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <hr>
                            <p class="card-text">{{description}}</p>
                            <p class="card-text">{{value}}</p>
                            <a href="#" id="{{id}}" class="doit btn btn-primary">Do it!</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</div>
</div>